/.env
/.idea
/*.cache
/clover.xml
/phpunit.xml
/report.xml
/results.sarif

/.docker/apache/logs/*
!/.docker/apache/logs/README.md
/.docker/php/logs/*
!/.docker/php/logs/README.md
/.docker/mysql/logs/*
!/.docker/mysql/logs/README.md

/system/cache/*
!/system/cache/.gitkeep
/system/log/*
!/system/log/.gitkeep
/system/vendor/
