/.env
/.idea
/*.cache
/clover.xml
/phpunit.xml
/report.xml
/results.sarif

/.docker/log/*
!/.docker/log/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep
/storage/log/*
!/storage/log/.gitkeep
/vendor/
