/.env
/.idea
/*.cache
/clover.xml
/phpunit.xml
/report.xml
/results.sarif

/.docker/log/*
!/.docker/log/.gitkeep

/system/cache/*
!/system/cache/.gitkeep
/system/log/*
!/system/log/.gitkeep
/system/vendor/
