<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="mobicms/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="mobicms/vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutCoverageMetadata="true"
         cacheDirectory=".cache">

    <testsuites>
        <testsuite name="default">
            <directory>mobicms/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>mobicms/src</directory>
        </include>
    </source>
</phpunit>
