<?xml version="1.0"?>
<psalm
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config system/vendor/vimeo/psalm/config.xsd"
        findUnusedBaselineEntry="true"
        findUnusedPsalmSuppress="true"
        findUnusedVariablesAndParams="true"
        findUnusedCode="true"
        cacheDirectory=".cache"
>
    <projectFiles>
        <directory name="system/src"/>
        <ignoreFiles>
            <directory name="system/vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <UnusedClass>
            <errorLevel type="suppress">
                <directory name="system/src/"/>
            </errorLevel>
        </UnusedClass>
    </issueHandlers>

    <enableExtensions>
        <extension name="random"/>
    </enableExtensions>
</psalm>
